<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<% if false %>
<li id="tab-payment_parts"><%= link_to "Payment parts", casein_payment_parts_path %></li>
<% end %>
<li id="tab-payment_headers"><%= link_to "Payment headers", casein_payment_headers_path %></li>
<li id="tab-accounts"><%= link_to "Accounts", casein_accounts_path %></li>
<li id="tab-items"><%= link_to "Items", casein_items_path %></li>
<li id="tab-projects"><%= link_to "Projects", casein_projects_path %></li>
