<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<% if false %>
<li id="tab-payment_parts"><%= link_to "Payment parts", casein_payment_parts_path %></li>
<% end %>
<li id="tab-accounts"><%= link_to "お取引先", casein_accounts_path %></li>
<li id="tab-payment_headers"><%= link_to "支払申請書", casein_payment_headers_path %></li>
<li id="tab-items"><%= link_to "費目", casein_items_path %></li>
<% if @session_user.is_admin? %>
<li id="tab-projects"><%= link_to "事業・プロジェクト登録", casein_projects_path %></li>
<li id="tab-reports"><%= link_to "Reports", casein_reports_path %></li>
<% end %>
